<div style="margin-bottom: 16px;" class="col-lg-3 col-md-4">
    <div class="ui card">
        <div class="image">
            <img src="{{image}}">
        </div>
        <div class="content">
            <a class="header">{{title}}</a>
            <div class="meta">
                <span class="date">{{createdAt}}</span>
            </div>
            <div class="description">
                {{about}}
            </div>
        </div>
        <div class="extra content">
            <a>
                <i class="external alternate green icon" onclick="openViewModal({{this.id}})"></i>
            </a>
        </div>
    </div>
</div>
